<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="row main">
          <h1 align="center">Inscription</h1>
            <div class="main-login main-center">
                <form (ngSubmit)="onSubmit()" #newUserForm="ngForm">
                  <div *ngIf="errors" class="alert alert-danger">
                    {{ errors }}
                  </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Courriel</label>
                        <div class="cols-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="email" required
                                       [(ngModel)]="model.email" name="email"
                                       #email="ngModel" placeholder="Courriel"/>
                            </div>
                            <div [hidden]="email.valid || email.pristine"
                                 class="alert alert-danger">
                              Courriel requis
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Mot de passe</label>
                        <label class="cols-sm-2 error-message" id="password-error"></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" id="password" required validateEqual="confirmPassword" reverse="true"
                                       minlength="8" [(ngModel)]="model.password" name="password"
                                       #password="ngModel" placeholder="Mot de passe"/>
                            </div>
                            <div [hidden]="password.valid || password.pristine"
                                 class="alert alert-danger">
                              Mot de passe trop court
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword" class="cols-sm-2 control-label">Confirmation mot de passe</label>
                        <label class="cols-sm-2 error-message" id="confirmPassword-error"></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" id="confirmPassword" required minlength="5" validateEqual="password"
                                       [(ngModel)]="model.confirmPassword" name="confirmPassword"
                                       #confirmPassword="ngModel" placeholder="Confirmation mot de passe"/>
                            </div>
                            <div [hidden]="confirmPassword.valid ||  (confirmPassword.pristine)"
                                 class="alert alert-danger">
                              Mots de passe non-identiques
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstName" class="cols-sm-2 control-label">Prénom</label>
                        <label class="cols-sm-2 error-message" id="firstName-error"></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="firstName" required
                                       [(ngModel)]="model.firstName" name="firstName"
                                       #firstName="ngModel" placeholder="Prénom"/>
                            </div>
                            <div [hidden]="firstName.valid || firstName.pristine"
                                 class="alert alert-danger">
                              Prénom requis
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="cols-sm-2 control-label">Nom de famille</label>
                        <label class="cols-sm-2 error-message" id="lastName-error"></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="lastName" required
                                       [(ngModel)]="model.lastName" name="lastName"
                                       #lastName="ngModel" placeholder="Nom de famille"/>
                            </div>
                            <div [hidden]="lastName.valid || lastName.pristine"
                                 class="alert alert-danger">
                              Nom de famille requis
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="submit" [disabled]="!newUserForm.form.valid" id="submit"
                                class="btn btn-primary btn-lg btn-block login-button">S'inscrire</button>
                    </div>
                  <div *ngIf="errors" class="alert alert-danger">
                    {{ errors }}
                  </div>
                </form>
            </div>
        </div>
    </div>
</body>
